/javaEnterprise/Ejb3Menu/build/classes/
/javaEnterprise/Ejb3Usuario/build/classes/
/javaEnterprise/Ejb3Perfil/build/classes/
/javaEnterprise/Ejb3XSL/build/classes/
/javaEnterprise/Portal/build/classes/
/javaEnterprise/Web/build/classes/
/javaEnterprise/Ejb3Url/build/classes/
/javaEnterprise/MyBatisPlugin/bin/
/Standalone/Ejb3Utils/build/classes/
/Standalone/Constants/bin/