/javaEnterprise/Ejb3Menu/build/classes/cl/
/javaEnterprise/Ejb3XSL/build/classes/cl/
/javaEnterprise/Portal/build/classes/cl/
/javaEnterprise/Ejb3Url/build/classes/cl/
/javaEnterprise/MyBatisPlugin/bin/cl/
/Standalone/Ejb3Utils/build/classes/cl/