<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coreUrl">
	<resultMap id="returnUrl" type="java.util.HashMap"></resultMap>
	<select id="listarUrl" statementType="CALLABLE" resultMap="returnUrl" >
		call listarUrl(
		#{id_url, mode=IN, jdbcType=INTEGER},
		#{url, mode=IN, jdbcType=VARCHAR},
		#{pagina, mode=IN, jdbcType=INTEGER},
		#{numReg, mode=IN, jdbcType=INTEGER},
		#{totReg, mode=OUT, jdbcType=INTEGER, javaType=String}
		);
	</select>
	<select id="addUrl" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call agregarUrl(#{nombre});
	</select>
	<select id="delUrl" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call eliminarUrl(#{id_url});
	</select>
	<select id="updUrl" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call modificarUrl(#{id_url},#{nombre});
	</select>
</mapper>