<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coreXSL">
	<insert id="insertarXSL" useGeneratedKeys="true" keyProperty="id_xsl" parameterType="java.util.HashMap">
		insert into XSL(url,nombre_ejb,contenido) values (#{url},#{nombre_ejb},#{contenido})
	</insert>
	<select id="getXSL" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call listarXSL(#{id_xsl}, #{url}, #{id_idioma});
	</select>
	
	
	
</mapper>