<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="coreMenu">
	<select id="listarMenu" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call listarMenu(#{id_menu},#{nombre},#{nivel});
	</select>
	<select id="addMenu" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call agregarMenu(#{nombre},#{idPadre});
	</select>
	<select id="delMenu" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call eliminarMenu(#{id_menu});
	</select>
	<select id="updMenu" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		call modificarMenu(#{id_menu});
	</select>
</mapper>